#create-ads-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-ads-form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}