body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header nav a {
    margin-right: 20px;
}

.ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}

.ad p {
    width: 80%;
    text-align: center;
}

.separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

article img {
    width: 150px;
}

#notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
