body {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

}

.ad {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    max-width: 350px;
}

.ad p {
    width: 80%;
    text-align: center;
}

.separator {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
