body {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.ad {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
}

.ad p {
    width: 40%;
    text-align: center;
}

.hide {
    display: none;
}